.create-button {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 10px 0;
    background: #5588cc;
    color: #fff;
    text-decoration: none;
}

.create-button:hover {
    background: #56a8ed;
    color: #fff;
    text-decoration: none;
}

.back-button {
    margin-bottom: 10px;
    float: left;
}

.button-right {
    float: right;
    vertical-align: top;
}

.general-actions {
    overflow: hidden;
}

.bind-helper-text {
    margin: 20px 0;
    text-align: center;
}